@font-face {
    font-family: 'yew_basturdbold';
    src: url('yewbb___-webfont.woff2') format('woff2'),
         url('yewbb___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'yew_basturdbolditalic';
    src: url('yewbbi__-webfont.woff2') format('woff2'),
         url('yewbbi__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'yew_basturditalic';
    src: url('yewbi___-webfont.woff2') format('woff2'),
         url('yewbi___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'yew_basturdnormal';
    src: url('yewbn___-webfont.woff2') format('woff2'),
         url('yewbn___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}