@font-face {
    font-family: 'yew_basturdbold';
    src: font_url('yewbb___-webfont.woff2') format('woff2'),
         font_url('yewbb___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'yew_basturdbolditalic';
    src: font_url('yewbbi__-webfont.woff2') format('woff2'),
         font_url('yewbbi__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'yew_basturditalic';
    src: font_url('yewbi___-webfont.woff2') format('woff2'),
         font_url('yewbi___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'yew_basturdnormal';
    src: font_url('yewbn___-webfont.woff2') format('woff2'),
         font_url('yewbn___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}