<% @places.each do |place| %>
<div class="box col-10 offset-1">
    <h1><%= place.name %></h1>
    <p class="address"><i><%= place.address %></i></p><br><br>
    <p><%= place.description %></p><br>
</div>
<% end %>
